{% extends 'base.html' %}

  {% load staticfiles %}
  {% block extracss %}
   
  {% endblock extracss %}


{% block content %}
<div>
  <a href="{% url 'facturacion' %}"role="button" class="btn btn-default"><i class="fa fa-chevron-circle-left"></i> Regresar </a>
</div><br><br>

<div class="row" >
  <div class="col-md-12" id="contenedor_cotizaciones">
    {% csrf_token %} 
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Seleccionar Cotización</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div id="cotizacion_collapse" class="box-body" style="display: block;">
        <table id="list_cotizaciones" class="table table-bordered table-striped dt-responsive nowrap">
                <thead>
                  <tr>
                    <th> Nro Cotización </th>
                    <th> Cliente </th>
                    <th> Fecha </th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                {% csrf_token %} 
                {% for item in cotizacion_view %}
                  <tr id="{{item.id}}">
                      <td> {{ item.id }}
                      <td> {{ item.cliente }}
                      <td> {{ item.fecha }}</td>
                      <td><a href="#" onclick="ver_cotizacion({{item.id}})" role="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a></td>
                  </tr>    
                  {% endfor %}
                </tbody>
          </table>
        
        <!-- /.table-responsive -->
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>

<div class="box" id="contenedor_factura_preview" hidden>
  
  <div class="box-body" >
    <label id="text_id_cotizacion" ></label>
    <div id="div_id_factura">
      <label id="text_id_factura"> Nro Factura:</label> 
      <input type="text" id="input_id_factura"/>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="box-body">
        <table id="informacion_cliente" class="table table-bordered table-striped dt-responsive nowrap">
          <tbody></tbody>
        </table>
      </div>     
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box-body">
        <table id="factura_preview" class="table table-bordered table-striped dt-responsive nowrap">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Producto</th>
              <th>Talla</th>
              <th>Cantidad</th>
              <th>Ganancia</th>
              <th>Precio Unitario</th>
              <th>Precio Total</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>     
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <a style="float:right;" href="#" onclick="crear_factura()" id="crear_factura" role="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Generar Factura </a>
  </div>
</div>

{% endblock content %}

{% block extrajs %}
  <script type="text/javascript" src="{% static '/static/js/demo.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/js/custom.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/js/jquery.form.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/js/demo.js' %}"></script>
  <script type="text/javascript" src="{% static '/static/js/custom.js' %}"></script>
{% endblock extrajs %}