{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div>
	<a href="{% url 'producto' %}"role="button" class="btn btn-default"><i class="fa fa-chevron-circle-left"></i> Regresar </a>
</div><br><br>

<form action="." method="POST" class="form">

	{% csrf_token %}
	{% bootstrap_form form layout='inline' %}
	<label> ¿Desea incluir Tallas grandes?</label>
	<input type="checkbox" name="talla_grande" value="1" checked> <br><br>
	<input type="submit" class="btn btn-primary" value="Guardar">
	<input type="reset" class="btn btn-default" value="Limpiar">

</form>
<br>
	{{ informacion }}

{% endblock content %}